@model List<ProjectModel>
@{
    ViewData["Title"] = "Lista projektów";
}



<h2 class="card-title">@ViewData["Title"]</h2>

<table class="table table-dark">
    <thead>
        <tr class="flex-row">
            <th>Nazwa projektu</th>
           
            <th>Termin wykonania</th>
            <th>Zobacz szczegóły</th>
            <th>Usuń projekt</th>
        </tr>
    </thead>
    <tbody class="table-striped">
        @foreach (var item in Model)
        {
            if (item.IsVisible == true)
            {
                <tr class="flex-row">
                    <td>@item.ProjectName</td>
                   
                    <td>@item.DeadLine</td>
                    <td><form asp-action="GetProjectDetails" role="form" method="get"><input type="hidden" name="ProjectId" value="@item.ProjectId" /><button class="btn btn-primary">Szczegóły</button></form></td>
                    <td><form asp-action="RemoveProjectConfirmation" role="form" method="get"><input type="hidden" name="ProjectId" value="@item.ProjectId" /><button class="btn btn-danger">Usuń</button></form></td>
                </tr>
            }
        }
    </tbody>

</table>
<p></p>
<a asp-action="AddProject" asp-controller="Client" class="btn btn-primary">Dodaj projekt</a>

