@model FormModel

<h2 class="card-title"> Podsumowanie</h2>
<p>Usługa: Budowa aplikacji desktopowej</p>
<p>Imię i nazwisko osoby do kontaktu lub nazwa firmy: @Model.ClientName</p>
<p>Adres Email: @Model.ClientEmail</p>
<p>Telefon: @Model.ClientPhone</p>
<p>System operacyjny: @Model.OperatingSystem</p>
<p>Język programowania: @Model.Language</p>
<p>Aplikacja konsolowa czy okienkowa: @Model.DeskForm</p>

<p>Projekt graficzny: @Html.Raw(Model.VisualProjectDesc)</p>

<p>Opis: @Html.Raw(Model.DeskAppDesc)</p>
<p>Termin wykonania: @Model.Deadline</p>
<p>Uwagi: @Html.Raw(Model.Notices)</p>
<p></p>

<form role="form" method="post" class="form-control">
    <input asp-for="ClientName" type="hidden" />
    <input asp-for="ClientEmail" type="hidden" />
    <input asp-for="ClientPhone" type="hidden" />
    <input asp-for="Service" type="hidden" />
    <input asp-for="Deadline" type="hidden" />

    
    <input type="hidden" asp-for="DeskAppDesc" />
    <input type="hidden" asp-for="OperatingSystem" />
    <input type="hidden" asp-for="Language" />
    <input type="hidden" asp-for="DeskForm" />
    <input type="hidden" asp-for="Notices" />

    
    <input asp-for="VisualProjectDesc" type="hidden" />

    <input type="hidden" asp-for="Service" />
    <label for="Consent">Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z <a href="https://crm.lotier.pl/Home/Privacy/" target="_blank">polityką prywatności</a></label>

    <input type="checkbox" name="Consent" value="true" required />
    <button type="submit" class="btn-primary" asp-controller="ClientForm" asp-action="SaveForm">Wyślij formularz</button>
</form>
<form role="form" method="post" class="form-control">
    <input asp-for="ClientName" type="hidden" />
    <input asp-for="ClientEmail" type="hidden" />
    <input asp-for="ClientPhone" type="hidden" />
    <input asp-for="Service" type="hidden" />
    <input asp-for="Deadline" type="hidden" />

    
    <input asp-for="VisualProjectDesc" type="hidden" />
    <input type="hidden" asp-for="WebAppDesc" />
    <input type="hidden" asp-for="OperatingSystem" />
    <input type="hidden" asp-for="Language" />
    <input type="hidden" asp-for="DeskForm" />
    <input type="hidden" asp-for="Notices" />



    <input asp-for="HasVisualProject" type="hidden" />

    <input type="hidden" asp-for="Service" />

    <button type="submit" class="btn-primary" asp-controller="ClientForm" asp-action="ClientInfoForm">Popraw formularz</button>

</form>

